name: Pruebas BDD y Unitarias

on:
  push:
    paths:
      - 'Actividad 7/Proyecto BDD/**'
  pull_request:
    paths:
      - 'Actividad 7/Proyecto BDD/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Instalar dependencias
      run: |
        cd "Actividad 7/Proyecto BDD"
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt

    - name: Ejecutar pruebas unitarias
      run: |
        cd "Actividad 7/Proyecto BDD"
        source venv/bin/activate
        pytest --cov=src tests/

    - name: Ejecutar pruebas BDD
      run: |
        cd "Actividad 7/Proyecto BDD"
        source venv/bin/activate
        behave
